body{
display: flex;
border: groove rgb(0, 0, 0);
margin-right: 400px;
}
img{
    width:25%;

}
header{
    width:50%;
    background-color: rgb(162, 0, 255);
    padding-left: 15px;
}
.entete{
    background-color: rgb(26, 3, 16);
    color: white;
}
h2{
    color: rgb(139, 56, 0);
    font-size: 40px;
    border-top: solid rgb(65, 225, 174);
}
.profil{
    margin: 40px;
    
    font-weigt:bolder;
}
.section{
    padding: 30px;
}
